.hero {
  display: flex;
}

.hero__logo {
  width: clamp(80px, 30vw, 256px);
  height: clamp(80px, 30vw, 256px);
  margin-right: 64px;
  position: relative;
}

.hero__header {
  font-size: clamp(80px, 7vw, 128px);
  line-height: 1;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.hero__subheader {
  font-size: 48px;
  line-height: 64px;
  font-weight: 1.3;
  color: #9baac3;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__header {
    font-size: 10vw;
    margin-top: 5vw;
  }

  .hero__subheader {
    font-size: 6vw;
  }

  .hero__logo {
    width: 30vw;
    height: 30vw;
    margin-right: 0;
    margin-bottom: 0;
  }
}
